.container {
    background: #7678ed;
    height: 100vh;
}

.sidebarButton{
    height: 50px;
    position: absolute;
    left: 0;  
    top: 100px;
}

#sidebar{
    background: #623CEA;
    height: 100vh;
    width: 300px;
    position: absolute;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactive{
    left: -300px;
}

.active{
    left: 0px;
}

.counter{
    position: absolute;
    top: 10px;
    left: 10%;
    width: fit-content;
    height: fit-content;
    color: rgb(183, 165, 249);
}